entitlement "<AFFIX> Essential" { Type = PerUserServicePlan; Id = '<bc-essential-guid>'; ObjectEntitlements = "<AFFIX> All"; }
entitlement "<AFFIX> Team Member" { Type = PerUserServicePlan; Id = '<bc-team-member-guid>'; ObjectEntitlements = "<AFFIX> Read"; }
