tableextension <ID> "<AFFIX> <BaseTable> Ext" extends "<BaseTable>" { fields { field(<ID>; "<AFFIX> Spend Alert Threshold"; Decimal) { Caption = 'Spend Alert Threshold'; DataClassification = CustomerContent; AutoFormatType = 1; } } }
