codeunit <ID> "<AFFIX> <Area> Subscribers"
{
    Access = Internal;
    var Mgt: Codeunit "<AFFIX> <Area> Mgt.";
    [EventSubscriber(ObjectType::Codeunit, Codeunit::"Sales-Post", 'OnAfterPostSalesDoc', '', true, true)]
    local procedure OnAfterPostSalesDoc(var SalesHeader: Record "Sales Header"; SalesInvoiceHeader: Record "Sales Invoice Header")
    begin Mgt.HandlePostedSalesInvoice(SalesInvoiceHeader); end;
}
